body {
    background-color: powderblue;
}

h1 {
    font-family: Impact, sans-serif;
    text-align: center;
}

p {
    font-family: Impact;
    font-size: 20px;
    text-align: center;
    font-color: white;
}
