body {
    background-color: powderblue;
}

h1 {
    font-family: Impact, sans-serif;
    text-align: center;
}

p {
    font-family: Impact, sans-serif;
    text-align: center;
    color: white; /* Corrected from 'font-color' to 'color' */
}
